<html>
  <body>
    <h1>Whoops! You are <%= email %> is not registered with </h1>
    <p>You requested a password for <%= appName %> but we do not have any records for <%= email %> on our system.</p>
      <p>Please <a href="<%= registerLink %>"> create a new account</a>.
      <p>Regards,<br>
      <%= appName %>
  </body>
</html>